@import __header/page__header
@import __body/page__body
@import __main/page__main
@import __title/page__title

.page
  +respond-to($tablet-portrait)
    display: flex

  +respond-to($tablet-landscape)
    margin: 0 auto
    max-width: 710px
