.menu_type_main
  .menu__link
    display: block
    color: #fff
    text-decoration: none
    font-size: 15px
    font-weight: bold
    padding: 8px 16px 10px
    transition: background-color .2s
    will-change: background-color

    &:hover:not(.menu__link_active)
      background: #101114

    +respond-to($tablet-portrait)
      padding: 13px 35px 15px

  .menu__link_active
    background: #2a2d37
    cursor: default
