.logo
  font-size: 0
  background: url('../img/logo.svg') no-repeat
  background-size: 100%
  width: 57px
  height: 75px
  margin: auto

  +respond-to($tablet-portrait)
    width: 85px
    height: 112px
    transform: translateX(-10px)
