.button_type_primary
  background: #005c9c
  color: #fff
  text-transform: uppercase
  border-radius: 3px
  padding: 12px 34px 13px

  &:hover
    background: lighten(#005c9c, 4)

  &:focus,
  &:active
    background: darken(#005c9c, 2)
