extends ../layouts/@main

block includes

block title
  title Тестовое задание

block body
  .page
    .page__header
      header.main-header
        .main-header__logo
          .logo Tapir

        nav.main-header__navigation
          ul.menu.menu_type_main
            li.menu__item
              a.menu__link(href="javascript:void(0);") Первая ссылка

            li.menu__item
              a.menu__link.menu__link_active(href="javascript:void(0);") Вторая ссылка

            li.menu__item
              a.menu__link(href="javascript:void(0);") Третья ссылка

            li.menu__item
              a.menu__link(href="javascript:void(0);") Четвертая ссылка

    .page__body
      main.page__main
        .page__title.page-title Заголовок страницы

        form.form.payment#payment
          p.payment__description Давно выяснено, что при оценке дизайна и&nbsp;композиции читаемый текст мешает.

          .payment__section.payment__section_type_summary
            h3.payment__title Информация по оплате

            dl.payment__summary.payment-summary
              dt.payment-summary__caption Номер счета:
              dd.payment-summary__value 894994949993939
              dt.payment-summary__caption Сумма платежа
              dd.payment-summary__value 1 000 руб.

          .payment__section
            h3.payment__title Номер карты

            .form-field-group
              input#card01.form-field.form-field_type_input.form-field_for_card-number(type='text' autocomplete='off' maxlength=4)/
              input#card02.form-field.form-field_type_input.form-field_for_card-number(type='text' autocomplete='off' maxlength=4)/
              input#card03.form-field.form-field_type_input.form-field_for_card-number(type='text' autocomplete='off' maxlength=4)/
              input#card04.form-field.form-field_type_input.form-field_for_card-number(type='text' autocomplete='off' maxlength=4)/

          .payment__section
            h3.payment__title Держатель карты

            input.form-field.form-field_type_input#card-holder(type='text')/

          .payment__group-section
            .payment__section
              h3.payment__title Срок действия

              .form-field-group
                .form-field-group__item
                  select.form-field.form-field_type_select.form-field_for_month
                    option 01
                    option 02
                    option 03
                    option 04
                    option 05
                    option 06
                    option 07
                    option 08
                    option 09
                    option 10
                    option 11
                    option 12

                .form-field-group__item
                  select.form-field.form-field_type_select.form-field_for_year
                    option 2019
                    option 2020
                    option 2021
                    option 2022
                    option 2023

            .payment__section
              h3.payment__title CVV

              input.form-field.form-field_type_input.form-field_for_cvv#cvv(type='text' maxlength=3)/

          .form__actions
            button.button.button_type_primary Отправить

block scripts
  script(type='text/javascript' src='js/app.min.js')
