.form-field
  background: #f0f0f0
  font-size: 13px
  font-weight: bold
  color: #959595
  height: 40px
  box-sizing: border-box
  border: 2px solid transparent
  width: 100%
  border-radius: 3px

  &:focus:not(.form-field_invalid)
    border-color: darken(#f0f0f0, 10)

  &:hover(.form-field_invalid)
    border-color: darken(#f0f0f0, 5)

  &_invalid
    border-color: #a00
