.form-field_type_select
  display: block
  padding: 0 31px 0 14px
  min-width: 70px
  margin: 0
  border: 2px solid transparent
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  background: #f0f0f0 url('../img/form-field_type_select.svg') 100% 50% no-repeat
  background-position: right .7em top 50%, 0 0
  background-size: 14px 7px

  &::-ms-expand
    display: none

  option
    font-weight: normal
